<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests">
    <test name="chrome">
    <parameter name="browser" value="chrome"/>
    <classes>
        <class name="example.ReportingSolution">
        </class>
    </classes>
</test>

   <test name="safari">
        <parameter name="browser" value="safari"/>
        <classes>
            <class name="example.ReportingSolution">
            </class>
        </classes>
    </test>

</suite>